<h1 class="text-center">Difficulty</h1>

<div class="wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12">
        <h3>How many letters would you like in your grid?</h3>
        <form action="/game" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" name="grid_size" placeholder="9">
          </div>
          <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>
